.header-unito {
    position: absolute;
    top: 5px;
    left: 100px;
    z-index: 500;
    font-size: 100px;
    width: 10%;
}

header:after {
    background-image: url('../asset/logo.jpg');
    background-size: 110px 110px;
    display: inline-block;
    width: 110px;
    height: 110px;
    content: "";
}